html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

p {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.4);
  }
}
